<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/HTMLHeader.ejs') %>
    <title>Document</title>
  </head>
  <body>
    <%- include('partials/pageHeader.ejs') %>
    <div id="content">
      <%# Loop through the posts, add each posts title and body to the page %>
      <% posts.forEach(post => { %>
      
          <h2><a href="/read/<%= post.uuid %>"><%= post.title %></a></h2>
          <p><%= post.date %></p>
  
          <p><%- clip(post.body, 300, {html:true, maxLines: 2 }) %></p>
  
      <% }) %>
    </div>

  </body>
</html>
