<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/HTMLHeader.ejs') %>
    <title>Manage Posts</title>
  </head>
  <body>
    <%- include('partials/pageHeader.ejs') %>
    
    <div id="content">
      <h1>Manage Posts</h1>
  
      <%# Loop through the posts, add each posts title and body to the page %>
      <% posts.forEach(post => { %>
      
          <h2><a href="/read/<%= post.uuid %>"><%= post.title %></a></h2>
  
          <form action="/post/<%= post.uuid %>" class="controls"  >
              <input type="submit" value="Edit Post" id="edit"/>
          </form><form action="/delete/<%= post.uuid %>?_method=DELETE" method="post" class="controls">
              <input type="submit" value="Delete"  id="delete"/>
          </form>
          
          <p><%= post.date %></p>
  
          <p><%- clip(post.body, 100, {html:true, maxLines: 2 }) %></p>
  
      <% }) %>
      
    </div>
    

  </body>
</html>
